.NavBar {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: stretch;
  /* align vertical */
  height: 120px;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 600;
  background-color: white;

  /* Set the navbar to fixed position */
  position: fixed;
  /* Position the navbar at the top of the page */
  top: 0;
}

.item {
  padding: 20px;
}

.logo {
  margin-left: 6%;
  margin-right: auto;
}

.buttonItem {
  padding: 10px;
  margin-right: 6%;
  background-color: black;
  color: white;
  border-radius: 7px;
}