.NavBar {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: stretch;
  /* align vertical */
  height: 120px;
  font-size: 18px;
  font-weight: 400;
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  /* Set the navbar to fixed position */
  position: fixed;
  /* Position the navbar at the top of the page */
  top: 0;
}

.item {
  padding-left: 30px;
  
}

.blog {
  padding-right: 40px;
  padding-left: 30px;
}

.logo {
  margin-left: 6%;
  margin-right: auto;
}

.buttonItem {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  margin-right: 6%;
  background-color: black;
  color: white;
  border-radius: 7px;
}