.Content {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.preTitle {
  margin-top: 200px;
  font-weight: 400;
  letter-spacing: -0.3vh;
  font-size: 1.6vw;
}

.mainTitle {
  font-weight: 500;
  letter-spacing: -1vh;
  font-size: 10vw;
  margin-bottom: -50px;
}

.mainTitle2 {
  font-weight: 500;
  letter-spacing: -1vh;
  font-size: 10vw;
}

.blackseparator {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 70px 0;
  background-color: black;
  color: white;
}

.contactbtn {
  font-family: 'Work Sans', sans-serif;
  margin: 1%;
  font-size: large;
  font-weight: 600;
  padding: 20px;
  width: 150px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
